.form__submit-button_theme_dark {
  background-color: #fff;
  color: #000;
  margin-top: 185px;
}

@media screen and (max-width: 767px) {
  .form__submit-button_theme_dark {
    margin-top: 140px;
  }
}
