.form__heading_theme_dark {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .form__heading_theme_dark {
    margin-bottom: 40px;
  }
}
