.content {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .content {
    margin-left: 72px;
    margin-right: 72px;
  }
}

@media screen and (max-width: 767px) {
  .content {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media screen and (max-width: 424px) {
  .content {
    margin-left: 20px;
    margin-right: 19px;
  }
}
