.navbar {
  color: #fff;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navbar {
    margin-top: 18px;
    margin-right: 35px;
  }
}

@media screen and (max-width: 424px) {
  .navbar {
    margin-right: 27px;
  }
}
